<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="game.juan.andenginegame0">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="game.juan.app.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="game.juan.app.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".MainActivity" />
        <activity android:name="game.juan.app.b_1" />
        <activity android:name="game.juan.app.b_2" />
        <activity android:name="game.juan.app.b_3" />
        <activity android:name="game.juan.app.b_4" />
        <activity android:name="game.juan.app.b_5" />
        <activity android:name="game.juan.app.c" />
        <activity android:name="game.juan.app.d" />
        <activity android:name="game.juan.app.e_1" />
        <activity android:name="game.juan.app.e_2" />
        <activity android:name="game.juan.app.e_3" />
        <activity android:name="game.juan.app.f_2" />
        <activity android:name="game.juan.app.i_1" />
        <activity android:name="game.juan.app.i_2" />
    </application>
</manifest>